*, 
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;    
}
body {
  background-color: #252A34;
  color: #EAEAEA;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;        
}